<footer class="page-footer white">
  <div class="container">
    <div class="row">
      <div class="col l6 s4"><img src="img/logo2.svg" class="logo-img"/></div>
      <div class="col l3 offset-l3 s8"><img src="img/mail.svg" class="footer-img"/><img src="img/mail.svg"
                                                                                        class="footer-img"/><img
        src="img/elephant.svg" class="footer-img"/><img src="img/elephant.svg" class="footer-img"/>

        <div><span class="footer-span">人才招聘</span><span class="footer-span">产品集市</span><span
          class="footer-span">云平台</span></div>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/swiper.jquery.min.js"></script>
