footer.page-footer.white
  .container
    .row
      .col.l6.s4
        img.logo-img(src='img/logo2.svg')
      .col.l3.offset-l3.s8.m5.offset-m3
        img.footer-img(src='img/mail.svg')
        img.footer-img(src='img/mail.svg')
        img.footer-img(src='img/elephant.svg')
        img.footer-img(src='img/elephant.svg')

        div
          a(href="job.html")
            span.footer-span 人才招聘
          a(href="http://www.clcdata.com")
            span.footer-span 产品集市
          a(href="http://www.clcdata.com")
            span.footer-span 云平台
script(type='text/javascript', src='js/jquery.min.js')
script(type='text/javascript', src='js/materialize.min.js')
script(type='text/javascript', src='js/swiper.jquery.min.js')
