nav
  .nav-wrapper.container
    a.brand-logo(href='http://www.clcdata.com')
      img.logo-img-head(src='img/logo.svg')
    a.button-collapse(href='#', data-activates='mobile-demo')
      i.material-icons &#xe5d2;
    ul.right.hide-on-med-and-down
      li
        a(href='#') 云平台
      li
        a(href='./solution.html') 解决方案
      li
        a(href='#') 产品集市
      li
        a(href='./job.html') 关于我们
    ul#mobile-demo.side-nav
      li
        a(href='#') 云平台
      li
        a(href='./solution.html') 解决方案
      li
        a(href='#') 产品集市
      li
        a(href='./job.html') 关于我们
