<nav>
  <div class="nav-wrapper container"><a href="#!" class="brand-logo"><img src="img/logo.svg"
                                                                          class="logo-img"/></a><a href="#"
                                                                                                   data-activates="mobile-demo"
                                                                                                   class="button-collapse"><i
    class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">云平台</a></li>
      <li><a href="#">解决方案</a></li>
      <li><a href="#">产品集市</a></li>
      <li><a href="#">关于我们</a></li>
    </ul>
    <ul id="mobile-demo" class="side-nav">
      <li><a href="#">云平台</a></li>
      <li><a href="#">解决方案</a></li>
      <li><a href="#">产品集市</a></li>
      <li><a href="#">关于我们</a></li>
    </ul>
  </div>
</nav>
