doctype html
html
  head
    meta(charset='utf-8')
    title 云联讯
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    link(rel='shortcut icon', href='img/favicon.ico')
    //link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(type='text/css',rel='stylesheet',href='css/g-icon.css')
    link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
    link(type='text/css', rel='stylesheet', href='css/swiper.min.css', media='screen,projection')
    link(type='text/css', rel='stylesheet', href='css/site.css', media='screen,projection')
  body
    nav
      .nav-wrapper.container
        a.brand-logo(href='http://www.clcdata.com')
          img.logo-img-head(src='img/logo.svg')
        a.button-collapse(href='#', data-activates='mobile-demo')
          i.material-icons menu
        ul.right.hide-on-med-and-down
          li
            a(href='#') 云平台
          li
            a(href='./solution.html') 解决方案
          li
            a(href='#') 产品集市
          li
            a(href='./about.html') 关于我们
        ul#mobile-demo.side-nav
          li
            a(href='#') 云平台
          li
            a(href='./solution.html') 解决方案
          li
            a(href='#') 产品集市
          li
            a(href='./about.html') 关于我们
    .container.blue-grey.lighten-5.container-fp
      .row
        .col.s12.m12.l6
          a.design-up(href="about.html")
            .playbutton
              <svg width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg" class="icon-playbutton"><path class="_fill-color" d="M10.5 0C4.977 0 .5 4.477.5 10s4.477 10 10 10 10-4.477 10-10-4.477-10-10-10zm-2 14V6l6 4-6 4z" fill="#ffffff" fill-rule="evenodd" opacity="1"/></svg>
          a.design-down(href="http://www.clcdata.com")
            .title_data 设计意见/加入我们
              .desc 希望云联讯给大家一个设计，需要联系我们邮箱
            .card-content
              .card-image
                img.responsive-img.svg-1.right(src='img/fp_10.png')
        .col.s12.m12.l6.waves-effect.waves-light
          a(href='./dcim.html')
            .card.dcim-f-card
              .title_data.title_data_white DCIM第一版本功能（界面/开发）
                .desc 开发/设计者每个人的资源
              .dcim-content
                .card-image
                  img.responsive-img(src='img/fp_06.png')
              .de-i.de-i-m.clearfix
                .text-white-words 文/公告
                .arrow
                  a(href="#")
                    img.arrow-img(src='img/arrow-1.png')
      .row.row-monitor
        .col.s12.m12.l6.waves-effect.waves-light
          a(href='./energy.html')
            .card.energy-f-card
              .title_data.shades-text.text-white 机柜能耗管理
                .desc 云联讯PM管理平台,提供整合的用户界面进行集中化管理
              .dcim-content
                .card-image
                  img.responsive-img(src='img/index-energy.jpg')
              .de-i.de-i-m.clearfix
                .text-white-words 文/公告
                .arrow
                  a(href="#")
                    img.arrow-img(src='img/arrow-1.png')
        .col.s12.m12.l6
          div.datacenter-fp
            a(href='./data.html')
              .card.card-1.card-big.green-1.card-datacenter-shadow
                .title_data.title_data_white 数据中心DCIM
                  .desc 协助数据中心识别,协助数据管理人员
                .card-content.white-text
                  .center
                    img.responsive-img.svg-2(src='img/svg/dcim-green.svg')
          div.equ-rate-fp
            a(href='http://www.clcdata.com')
              .card.card-small.blue-2.card-monitor-shadow
                .title_data.title_data_white 设备使用率和使用监控
                  .desc 集中监控/容量规划/集中管理
                img.responsive-img.svg-3.right(src='img/index-1.png')
      .row
        .col.s12.m12.l6.waves-effect.waves-light
          a(href='./energy.html')
            .card.card-2.card-monitor-bg
              .title_data.title_data_white 机房动环监控
                .desc 针对各类机房中的动力设备及环境变量进行集中监控,即:动力环境监控[1].
              .center
                img.responsive-img.card-fp-monitor(src='img/house.png')
              .de-i.de-i-m.clearfix
                .text-white-words 动力环监监控/(1)
                .arrow
                  a(href="#")
                    img.arrow-img(src='img/arrow-1.png')
        .col.s12.m12.l6.waves-effect.waves-light
          a(href='./datacenter.html')
            .card.card-2.blue-3
              .title_data 数据中心运维
                .desc 有完整的,全方位实时有效的监控系统,并着重监控数据的记录,和数据智能分析,实现提前发现问题
              .center
                img.responsive-img.svg-5(src='img/svg/ops.svg')
              .de-i.de-i-m.clearfix
                .text-white-words 文/公告
                .arrow
                  a(href="#")
                    img.arrow-img(src='img/arrow-1.png')
      .row
        .col.s12.m12.l6.waves-effect.waves-light
          a(href='./wlw.html')
            .card.card-2.white-1.fp-wlw-bg
              .title_data.black-text 物联网
                .desc 物联网基于云计算平台和智能网络,可以根据传感器网络用获取的数据进行决策
              .center
                img.responsive-img.svg-6.fp-wlw(src='img/index-2.gif')
              .de-i.de-i-m.clearfix
                .text-white-words 文/公告
                .arrow
                  a(href="#")
                    img.arrow-img(src='img/arrow-1.png')
        .col.s12.m12.l6.waves-effect.waves-light
          a(href='./sHardware.html')
            .card.card-2.grey-1
              .title_data.title_data_white 智能硬件
                .desc 车联网是以车内网、车际网和车载移动互联网为基础,按照约定的通讯协议和数据交互标准。
              .card-content.new-center
                .bg-yj
                  .car-img
                    img.responsive-img.svg-7(src='img/index-3.png')
                  .hardware-img.right
                    img.responsive-img.svg-8(src='img/index-4.png')
              .de-i.de-i-m.clearfix
                .text-white-words 文/公 告
                .arrow
                  a(href="#")
                    img.arrow-img(src='img/arrow-1.png')
      .row
        .col.s12.m12.l6.waves-effect.waves-light
          a(href='./wlw.html')
            .card.card-2.white-1.fp-wlw-bg
              ._bg
              .title_fp_words
                .title_data.title_data_white 物联网
                  .desc 物联网基于云计算平台和智能网络,可以根据传感器网络用获取的数据进行决策
              .center
                //img.responsive-img.svg-6.fp-wlw(src='img/index-pdu.jpg')
              .de-i.de-i-m.clearfix
                .text-white-words 文/公告
                .arrow
                  a(href="#")
                    img.arrow-img(src='img/arrow-1.png')
        .col.s12.m12.l6.waves-effect.waves-light
          a(href='./wlw.html')
            .card.card-2.white-1.fp-wlw-bg
              .title_fp_words
                .title_data.title_data_white 物联网
                  .desc 物联网基于云计算平台和智能网络,可以根据传感器网络用获取的数据进行决策
              .center
                img.responsive-img.svg-6.fp-wlw(src='img/index-RDU.svg')
              .de-i.de-i-m.clearfix
                .text-white-words 文/公告
                .arrow
                  a(href="#")
                    img.arrow-img(src='img/arrow-1.png')
    .container
      .row
        .col.l6.s4
          img.logo-img(src='img/logo2.svg')
        .col.l3.offset-l3.s8.m5.offset-m3
          img.footer-img(src='img/mail.svg')
          img.footer-img(src='img/mail.svg')
          img.footer-img(src='img/elephant.svg')
          img.footer-img(src='img/elephant.svg')
          div
            a(href="./job.html")
              span.footer-span 人才招聘
            a(href="http://www.clcdata.com")
              span.footer-span 产品集市
            a(href="http://www.clcdata.com")
              span.footer-span 云平台
  script(type='text/javascript', src='js/jquery.min.js')
  script(type='text/javascript', src='js/materialize.min.js')
  script(type='text/javascript', src='js/swiper.jquery.min.js')

  script.
    $(function () {
      $(".button-collapse").sideNav();
    });


